$white-color: white;
$black-color: black;
$color: #0a7bb1;
$background-color: rgba(27, 47, 69, 0.8);

.score-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(../images/dark-blue-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
    color: $white-color;

    &-items {
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 5px;
        background-color: $background-color;
        letter-spacing: 2px;
    }

    &-current-score {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
    }

    &-quote {
        font-size: 50px;
        color: $color;
    }

    &-score {
        font-size: 40px;
    }

    &-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &-button {
        padding: 15px 40px;
        cursor: pointer;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        border: none;
        background-color: $color;
        color: $white-color;
        letter-spacing: 2px;
    }

}

.quiz-previous-score {
    width: 100%;
    font-size: 50px;
    letter-spacing: 2px;
}

.score-container-button:hover {
    background-color: $color;
    color: $black-color;
}

.previous-score {
    color: $color;
    font-size: 60px;
}

.current-score {
    color: $color;
    font-size: 50px;
}