.sports-quote-btn {
    padding: 12px 30px;
    background-color:#0a7bb1;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.sports-quote-btn:hover {
    background-color: #15aaf0c9;
    transition: 0.3s;
}