$white-color: white;
$color: #0a7bb1;

.banner {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 34%;
    left: 14%;
    z-index: 1;
    line-height: 9;

    .sports-quote {
        width: 60.33%;

        &-heading {
            font-size: 50px;
            width: 70%;
            font-weight: 700;
            line-height: 1.2;
            color: $white-color;
            padding: 0px 0px 40px 0px;
            letter-spacing: 3px;
        }

        &-lines {
            color: $white-color;
            width: 60%;
            border-left: 2px solid $color;
            padding: 0px 0px 0px 30px;
            line-height: 23px;
        }

        &-span {
            color: $color;
        }
    }
}