header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 26px;
    z-index: 1;
    

    .logo {
        color: white;
        font-size: 50px;
        width: 35%;
        letter-spacing: 3px;
        text-align: center;
        cursor: pointer;

        &-letter {
            color: #0a7bb1;
            font-weight: 800;
            font-size: 75px;
            letter-spacing: 5px;
        }
    }

    .navigation {
        width: 65%;
        color: white;
        text-align: center;

        &-list {
            display: flex;
            justify-content: space-evenly;
           
        }

        &-list li {
            color: rgba(255, 255, 255, 0.6);
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 17px;
            font-weight: 700;
            cursor: pointer;
        }

        &-list li:hover {
            color: white;
            // font-weight: 700;
        }
    }
}